/* Colors and Fonts */
:root {
    --light: #F2FBFF;
    --dark: #000F22;
    --blue: #00ADEF;
    --orange: #FF6803;
    --green: #00AF0B;
    --red: #E10000;
    --gold: #D8AF1F;
}
@font-face {
    font-family: Oswald;
    src: url('../fonts/Oswald-VariableFont_wght.ttf');
}

/* Background Image */
.bg-img {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}